.SampleComponentMain {
    background-color: cadetblue;
    height          : 200px;
    width           : 100vw;
}

.SampleComponentText {
    font-size  : large;
    font-weight: 700;
    transition : transform 1s
}